

.comment {
    overflow: hidden;
    margin: 10px 0;
}
.comment-body {
    background: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
}

.comment-user {
    padding: 10px;
}


.actions-body {
    overflow: hidden;
    margin-bottom: 20px;
}

.actions-body div {
    margin-right: 5px;
}

.card-body span {
    font-style: italic;
    color: #aaa;
    font-size: 11px;
}
